@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     <a href="http://code.msdn.microsoft.com/aspnetmvcsamples/Release/ProjectReleases.aspx?ReleaseId=5114">Time Tracker</a> 
     <br />
     <a href="http://code.msdn.microsoft.com/aspnetmvcsamples"> Time Tracking. CRecinos</a>
</p>
